<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Checkin Assign Cabin or Space</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1>Checkin Assign Cabin or Space</h1>
  <a href="./admin.html"><button type="button" name="checkin"> Return to Admin Page </button> </a>
    </br>
    </br>
  <h1>Available RV Space or Cabin</h1>
  
   <div id="rvSpace">
   </div>
   <div id="cabins">
   </div> 

  </body>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="../js/addCustomerToCabinOrSpace.js"></script>
</html>

</body>
</html>
