<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <style>
      a {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
</head>

<body>
<h1> Admin Home Page </h1>
 <a href="./checkin.html"><button type="button" name="checkin"> Checkin </button> </a>
 <a href="./checkout.html"><button type="button" name="checkout"> Checkout</button> </a>
 <a href="./paymentForm.html"> Payment Form </a>
 <a href="./customers.html"><button type="button" name="customers"> Find or Update Customer Info</button> </a>
 <a href="./employeeAdd.html"><button type="button" name="addEmployee">Add Employee </button> </a>
 <a href="./chooseUpdateProcess.html"> Choose Update Process </a>
 <a href="./updateChooseMeterReadings.html"><button type="button" name="chooseMeters"> Update Some Meters</button> </a>
 <a href="./updateAllMeterReadings.html"><button type="button" name="allMeters"> Update All Meters</button> </a>
  
</body>
</html>