<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Choose Meters</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1> Choose Meters</h1>
    <form name="updateMeters" action="" method="get">
        <label>Choose Meters</label>
        <input type="checkbox" name="choose_meters" id="choose_meters" value="" onClick="return chooseMeters();"/>
          </br>
          </br>
        <label>Update All</label>
        <input type="checkbox" name="all_meters" id="all-meters" value="checkin.html" onClick="return allMeters();"/>
          </br>
          </br>
    </form>
    <form action="/submitMeterReadings" method="post">
      <input type="text" name="meter" placeholder="Meter ID">
      <input type="text" name="reading" placeholder="Meter Reading">
      <input type="submit">
    </form>
  </body>
 <!--  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> -->
  <script src="../js/allMeters.js"></script>
</html>

</body>
</html>
