<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Checkin</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1>Checkin</h1>
  <h1>Customer Lookup</h1>
  <!-- <form action="/submitMeterReadings" method="post"> -->
      <input type="text" name="customerLookupFirstName" placeholder="Enter First Name">
      <input type="text" name="customerLookupLastName" placeholder="Enter Last Name">
      <!-- need to hit a seach route here -->
      <!-- display results on a new page -->
      <button type="submit">Search</button>
    <!-- </form> -->

  <h1>New Customer</h1>
    <!-- <form action="/submitMeterReadings" method="post"> -->
      <input type="text" name="newCustomerFirstName" placeholder="Enter First Name">
      <input type="text" name="newCustomerLastName" placeholder="Enter Last Name">
      <!-- need to go to another page and get additional information and enter first and last name into db -->
      <button type="submit">Submit</button>
    <!-- </form> -->
  </body>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="../js/meterReadings.js"></script>
</html>

</body>
</html>
