<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Checkin</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1>Checkin</h1>
  <a href="./admin.html"><button type="button" name="checkin"> Return to Admin Page </button> </a>
    </br>
    </br>
  <h1>Enter the number of adults</h1>
  <input id="numAdults" type="text" name="numAdults">

  <h1>Enter the number of children</h1>
  <input id="numChildren" type="text" name="numChildren">

  <h1>Will you have any pets with you and how many?</h1>
  <input id="numPets" type="text" name="numPets">

    <p> Number of dogs?</p>
    <input id="numDogs" type="text" name="numDogs">

    <p> Breed of dog?</p>
    <input id="dogBreed" type="text" name="dogBreed">

  <h1>Enter your arrival date</h1>

  <h1>Enter your checkout date</h1>
    <p>Check here if your checkout date is unknown</p>

  <h1>
  <h1>Choose Rate</h1>
  <label>Monthly Rate</label>
  <input type="checkbox" name="monthlyRate" id="monthlyRate"/>
  </br>
  <label>Weekly Rate</label>
  <input type="checkbox" name="weeklyRate" id="weeklyRate"/>
  </br>
  <label>Daily Rate</label>
  <input type="checkbox" name="dailyRate" id="dailylyRate"/>
  </br>
  <h1>Choose an RV Space or Cabin</h1>
  
  <label>30 AMP RV Space</label>
  <input type="checkbox" name="30AMPrvSpace" id="30AMPrvSpace"/>
  </br>
  <label>50 AMP RV Space</label>
  <input type="checkbox" name="50AMPrvSpace" id="50AMPrvSpace"/>
  </br>
  <label>Cabin</label>
  <input type="checkbox" name="cabin" id="cabin"/>
  </br>
  
  <h1>Customer Lookup</h1>
  
    <div id="searchResult">
    </div>
    <div id="searchCustomerForm">
    </div>

  <h1>Add New Customer</h1>

    <div id="newCustomerForm">
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="../js/checkin.js"></script>
</html>

</body>
</html>
