<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1>Checkout</h1>
    <form action="/submitMeterReadings" method="post">
      <input type="text" name="meter" placeholder="Meter ID">
      <input type="text" name="reading" placeholder="Meter Reading">
      <input type="submit">
    </form>
  </body>
 <!--  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> -->
  <script src="../js/meterReadings.js"></script>
</html>

</body>
</html>
