
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Choose Update Process</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1>Step 1 Choose Update Process</h1>
    <form name="updateType" action="" method="get">
      <label>Update Meter</label>
      <input type="checkbox" name="meter_update" id="meter_update" value="metersToUpdate.html" onClick="return meterUpdate();"/>
        </br>
        </br>
      <label>Checkin</label>
      <input type="checkbox" name="checkin" id="checkin" value="checkin.html" onClick="return checkIn();"/>
        </br>
        </br>
      <label>Checkout</label>
      <input type="checkbox" name="checkout" id="checkout" value="checkout.html" onClick="return checkOut()"/>
  <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> -->
  <script src="../js/chooseUpdateProcess.js"></script>
</body>
</html>