
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
    <a href="./admin.html"><button type="button" name="checkin"> Return to Admin Page </button> </a>
    </br>
    </br>
    <div id="searchResult">
    </div>
    <div id="newCustomerForm">
    </div>
    <div id="searchCustomerForm">
    </div>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="../js/customers.js"></script>
  </body>
  </html>