<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Choose Meters</title>
    <style>
      input {
        display: block;
        font-size: 24px;
        height: 36px;
      }
    </style>
  </head>
  <body>
  <h1> Choose Meters</h1>
    <div id="allMeters">
    </div>
    <div id="chosenMeters">
    </div> 
  </body>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="../js/updateChooseMeterReadings.js"></script>
</html>

</body>
</html>
